<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>Search: <input ng-model="query"></p>
      <p>Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="talkTime">Talk Time</option>
        <option value="weight">Weight</option>
        <option value="screenSize">Screen Size</option>
        <option value="standbyTime">Standby Time</option>
      </select></p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        
        <li ng-repeat="phone in phones |filter:query |  orderBy:orderProp" //
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
          <p>{{phone[orderProp]}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
