<h1>Comparison</h1>
<table>
    <tr>
        <td></td>
        <td></td>
        <td><img ng-src="{{p1.images[0]}}"></td>
        <td><img ng-src="{{p2.images[0]}}"></td>
    </tr>
    <tr>
        <td><b>Category</b></td>
        <td><b>Feature</b></td>
        <td>{{p1.name}}</td>
        <td>{{p2.name}}</td>
    </tr>
    <tr>
        <td><b>Availability and Networks</b></td>
        <td><b>Availability</b></td>
        <td><li ng-repeat="availability in p1.availability">{{availability | empty}}</li></td>
        <td><li ng-repeat="availability in p2.availability">{{availability | empty}}</li></td>
    </tr>
    <tr>
        <td rowspan="3"><b>Battery</b></td>
        <td><b>Type</b></td>
        <td>{{p1.battery.type | empty}}</td>
        <td>{{p2.battery.type | empty}}</td>
    </tr>
    <tr>
        <td><b>Talk Time</b></td>
        <td>{{p1.battery.talkTime | empty}}</td>
        <td>{{p2.battery.talkTime | empty}}</td>
    </tr>
    <tr>
        <td><b>Standby time (max)</b></td>
        <td>{{p1.battery.standbyTime | empty}}</td>
        <td>{{p2.battery.standbyTime | empty}}</td>
    </tr>
    <tr>
        <td rowspan="2"><b>Storage and Memory</b></td>
        <td><b>RAM</b></td>
        <td>{{p1.storage.ram | empty}}</td>
        <td>{{p2.storage.ram | empty}}</td>
    </tr>
    <tr>
        <td><b>Internal Storage</b></td>
        <td>{{p1.storage.flash | empty}}</td>
        <td>{{p2.storage.flash | empty}}</td>
    </tr>
    <tr>
        <td rowspan="5"><b>Connectivity</b></td>
        <td><b>Network Support</b></td>
        <td>{{p1.connectivity.cell | empty}}</td>
        <td>{{p2.connectivity.cell | empty}}</td>
    </tr>
    <tr>
        <td><b>WiFi</b></td>
        <td>{{p1.connectivity.wifi | empty}}</td>
        <td>{{p2.connectivity.wifi | empty}}</td>
    </tr>
    <tr>
        <td><b>Bluetooth</b></td>
        <td>{{p1.connectivity.bluetooth | empty}}</td>
        <td>{{p2.connectivity.bluetooth | empty}}</td>
    </tr>
    <tr>
        <td><b>Infrared</b></td>
        <td>{{p1.connectivity.infrared | checkmark}}</td>
        <td>{{p2.connectivity.infrared | checkmark}}</td>
    </tr>
    <tr>
        <td><b>GPS</b></td>
        <td>{{p1.connectivity.gps | checkmark}}</td>
        <td>{{p2.connectivity.gps | checkmark}}</td>
    </tr>
    <tr>
        <td rowspan="2"><b>Android</b></td>
        <td><b>OS Version</b></td>
        <td>{{p1.android.os | empty}}</td>
        <td>{{p2.android.os | empty}}</td>
    </tr>
    <tr>
        <td><b>UI</b></td>
        <td>{{p1.android.ui | empty}}</td>
        <td>{{p2.android.ui | empty}}</td>
    </tr>
    <tr>
        <td rowspan="2"><b>Size and Weight</b></td>
        <td><b>Dimensions</b></td>
        <td><li ng-repeat="dim in p1.sizeAndWeight.dimensions">{{dim | empty}}</li></td>
        <td><li ng-repeat="dim in p2.sizeAndWeight.dimensions">{{dim | empty}}</li></td>
    </tr>
    <tr>
        <td><b>Weight</b></td>
        <td>{{p1.sizeAndWeight.weight | empty}}</td>
        <td>{{p2.sizeAndWeight.weight | empty}}</td>
    </tr>
    <tr>
        <td rowspan="3"><b>Display</b></td>
        <td><b>Screen Size</b></td>
        <td>{{p1.display.screenSize | empty}}</td>
        <td>{{p2.display.screenSize | empty}}</td>
    </tr>
    <tr>
        <td><b>Screen Resolution</b></td>
        <td>{{p1.display.screenResolution | empty}}</td>
        <td>{{p2.display.screenResolution | empty}}</td>
    </tr>
    <tr>
        <td><b>Touch Screen</b></td>
        <td>{{p1.display.touchScreen | checkmark}}</td>
        <td>{{p2.display.touchScreen | checkmark}}</td>
    </tr>
    <tr>
        <td rowspan="5"><b>Hardware</b></td>
        <td><b>CPU</b></td>
        <td>{{p1.hardware.cpu | empty}}</td>
        <td>{{p2.hardware.cpu | empty}}</td>
    </tr>
    <tr>
        <td><b>USB</b></td>
        <td>{{p1.hardware.usb | empty}}</td>
        <td>{{p2.hardware.usb | empty}}</td>
    </tr>
    <tr>
        <td><b>Audio / Headphone jack</b></td>
        <td>{{p1.hardware.audioJack | empty}}</td>
        <td>{{p2.hardware.audioJack | empty}}</td>
    </tr>
    <tr>
        <td><b>FM Radio</b></td>
        <td>{{p1.hardware.fmRadio | checkmark}}</td>
        <td>{{p2.hardware.fmRadio | checkmark}}</td>
    </tr>
    <tr>
        <td><b>Accelerometer</b></td>
        <td>{{p1.hardware.accelerometer | checkmark}}</td>
        <td>{{p2.hardware.accelerometer | checkmark}}</td>
    </tr>
    <tr>
        <td rowspan="2"><b>Camera</b></td>
        <td><b>Primary</b></td>
        <td>{{p1.camera.primary | empty}}</td>
        <td>{{p2.camera.primary | empty}}</td>
    </tr>
    <tr>
        <td><b>Features</b></td>
        <td>{{p1.camera.features.join(', ') | empty}}</td>
        <td>{{p2.camera.features.join(', ') | empty}}</td>
    </tr>
    <tr>
        <td><b>Additional Features</b></td>
        <td><b>Additionals</b></td>
        <td>{{p1.additionalFeatures | empty}}</td>
        <td>{{p2.additionalFeatures | empty}}</td>
    </tr>
    
</table>
