<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      <p><button id="bj">Compare</button></p>
    
      <ul>
        <li ng-repeat="phone in historys">
          <a href="#/phones/{{phone.id}}" ng-click="eventHandler.addToHistorys(phone)">{{phone.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        
        <li ng-repeat="phone in phones |filter:query |  orderBy:orderProp" //
            class="thumbnail phone-listing">
          <input type="checkbox" name="compare" value="{{phone.id}}">Choose to Compare<br><br>
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}" ></a>
          <a href="#/phones/{{phone.id}}" id="n">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
          <p>{{phone[orderProp]}}</p>
        </li>
      </ul>

    </div>
    <script>
        
        document.getElementById("bj").addEventListener("click", function(){
          var a = document.getElementsByName("compare");
          var selected = 0;
          var p1 = -1;
          var p2 = -1;
          var sum=0;
          for (var i = 0; i < a.length; i++){
            if (a[i].checked) {
              if (selected == 0) {
                p1 = a[i].value;
                selected++;
              }else if (selected == 1) {
                p2 = a[i].value;
                //break;
              }
              sum++;
            }
          }
          if ((sum != 2)) {
            alert("Please select exactly 2 phones!");
          }else{
            var url = "http://ec2-54-68-190-75.us-west-2.compute.amazonaws.com:8000/app/#/phones/" + p1 + "/" + p2;
            alert(url);
            window.location.replace(url);
          }
        }, false);
        
        
    </script>
  </div>
</div>
